@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* Formatações Gerais */
* {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 800;
}




/* Header */

#logo_imagem {
    padding: 1px;
    margin-right: 10px;
}

#nav_principal #navbarSupportedContent li {
    
    margin-left: 10px;
}

ul li .badge.rounded-pill {
    background-color: #ebd7fa;
    color: black;
}

/* Link Login */
form a  {
    margin-left: 9px;
    color: #820ad1;
    text-decoration: none;
}

form a i {
    font-size: 19px;
    margin-left: 5px;
    position: relative;
    top: 2px;

}

.navbarSupportedContent, form a::before {
    content: '';
    position: absolute;
    background-color: #820ad1;
    width: 0%;
    height: 3px;    
    top: 40px;
    transition: 0.3s;
}


.navbarSupportedContent, form a:hover {
    color: #820ad1;
}
.navbarSupportedContent, form a:hover::before  {
    width:3%;
}

/* Imagens */
#imagens {
    background-image: url(man-with-cellphone-lg-3x.jpeg);
    background-position: center ;
    background-size: cover;
}




/* Rodapé */

footer .row {
    background: #191919;
    padding: 25px;

}

footer .row ul li a {
    color: #fff;
}

footer .row ul li a:hover {
    color: #820ad1;
}

.titulo-nav {
    color: #868484;
}

.titulo-nav:hover {
    color: #868484;
    ;
}

/* Navegação Final */
#nav-final .row {
    border-top: 1px solid #272626;;
    border-bottom: 1px solid #272626;;
    background-color: #191919;
}

#nav-final .nav-final {
    margin: 80px auto;
}

#logo_imagem_final {
    padding: 1px;
    margin-right: 20px;
}

.nav-final .icones i {
    color: #fff;
    padding: 15px;
    font-size: 20px;
    transition: 0.3s;
}
.nav-final .icones i:hover {
    color: #820ad1;
}

#final ul li p {
    color: #fff;
}

/* Links linguagens */
.icone-rodape {
    margin-left: 10px;
    color: #fff;
    
}

#linguagens .row {
    background: #191919;
    height: 160px;
}

#linguagens .row .linguagem {
    padding: 40px;
}

#linguagens .row .linguagem label {
    color: #fff;
}

#linguagens .row .linguagem label:hover {
    color: #820ad1;
}

#linguagens .row .radio2 {
    margin-left: 50px;
}

/* Formatando o input radio */
.form-check-input[type=radio] {
    background: none;
    border: 1px solid #fff;
}

.form-check-input[type=radio]:hover {
    border: 1px solid #820ad1;
    position: relative;
}

.form-check-input[type=radio]:hover::after {
    border: 1px solid #820ad1;
    border-radius: 50%;
    background-color: #820ad1;
    content: "";
    display: block;
    height: 7.5px;
    width: 7.5px;
    position: absolute;
    top: 3px;
    left: 3.3px;
    right: 0px;
    bottom: 0px;
}

.form-check-input:checked[type=radio] {
    background-color: inherit;
    border-radius: 50%;
    content: "";
    display: block;
    height: 16px;
    width: 16px;
}


.form-check-input[type=radio]:focus {
    box-shadow: none;
}


.form-check-input:checked[type=radio]:hover::before {
    background-color: #820ad1;
    border-radius: 50%;
    content: "";
    display: block;
    height: 7.5px;
    width: 7.5px;
    position: relative;
    top: 3px;
    left: 3.3px;
    right: 0px;
    bottom: 0px;
}







/*Media Queries */

/* Removendo o hover em celulares e tablets */
@media (max-width: 991px) {
    .link-login, form a:hover::before  {
        width:0%;
    }
}

/* Mudando o tamanho das fotos em tamanhos especificos (tables e celulares) e colocando um top no rodapé  */
@media (max-width: 991px) {
    .tamanho-imagens {
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    .imagem-3 {
        width: 50%;
        height: 50%;
        margin-top: 5%;
        margin-left: 20%;
    }

    .espaço-cima {
        margin-top: 20px;
    }
    
    .link-login{
        margin-left: 10px;
    }
     
}


/*Media Queries */

/* Removendo o hover em celulares e tablets */
@media (max-width: 991px) {
    .navbarSupportedContent, form a:hover::before  {
        width:0%;
    }
}


