@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* Formatações Gerais */
* {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 800;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Header */

.navbar-light .navbar-nav .nav-link{
    color: #191919;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #820ad1;
    transition: 0.2s;
}

.dropdown-header {
    color: #820ad1;
}

.dropdown-item:hover {
    background: none;
    transition: 0.3s;
    color: #820ad1;
}

#logo_imagem {
    padding: 1px;
    margin-right: 10px;
}

#nav_principal #navbarSupportedContent li {
    margin-left: 10px;
}

ul li .badge.rounded-pill {
    background-color: #ebd7fa;
    color: black;
}

.girar i  {
    transform: rotate(-90deg);
}

/* lINK LOGIN ATUALIZADO */
.link-login{
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.link-login::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
}

.link-login:hover::after {
    content: '';
    width: 70px;
    height: 2px;
    left: 0;
    top: 20px;
    transition: 0.2s linear;
    background-color: #820ad1;
}

.link-login i{
    margin-left: 10px;
}

.link-login i:hover{
    margin-left: 10px;
}

.link-login a,i {
    text-decoration: none;
    color: #820ad1;
}


.imagem-principal {
    height: 800px;
    background-image: url(../img/Fundo_tela_principal.jpeg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.imagem-secundaria {
    height: 800px;
    background-image: url(../img/three-women-smiling-outdoors-lg-3x.jpeg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.imagem-terciaria {
    height: 800px;
    background-image: url(../img/three-young-people-outdoors-leaning-against-the-wall-lg-3x.jpeg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.imagem-quartenaria {
    height: 600px;
    background-image: url(../img/man-with-cellphone-lg-3x.jpeg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}
.informacoes-da-imagem {
    left: 12%;
    top: 40%;
    color: #fff;
}

.container-fluid .informacoes-da-imagem a {
    color: #fff;
    text-decoration: none;
}
/* Caixa branca  */
.caixa-branca {
    background: #fff;
    width: 330px;
    height: 330px;
    border-radius: 15px;
}

.informacoes-caixa-branca {
    padding: 25px;
}

#botao-enviar {
    padding: 10px;
    background: #820ad1;
    width: 92%;
    margin: 0px auto;
    border-radius: 60px;
    border: none;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
}

.forms {
    margin-top: 50px;
}

.forms .form-control {
    border: none;
    border-bottom: 1px solid #c3c3c3;
    color: #615f5f;

}
.forms > .form-control ~label {
    color: #c3c3c3;
}

/* tirando a sombra vermelha do erro de focus */
.form-control.is-invalid, .was-validated .form-control:invalid:focus {
    box-shadow: none;
    
}

.form-control.is-invalid, .was-validated .form-control:invalid{
    color: #dc3545;
    
}

.forms .form-control:focus {
    box-shadow: none;
}

.imagens .row .caixa-branca h5 {
    margin: 25px 10px 10px 10px;

}

.imagens .row .imagem-principal {
    padding: 0px;
    margin: 0px;
}

/* Imagens do conteudo  */
/* fORMNATAÇÃO GERAL DAS CLASSES H1 DENTRO DAS IMAGENS PRINCIPAIS */ 
.container-img-1 {
    padding: 50px;
    background-color: #f5f5f5;
}

.container-img-1 .row {
    padding: 0px;
    padding: 50px;
}

.container-img-1.roxinho {
    padding: 50px;
    background-color: #fff;
}


.container-img-1 .row .h1 {
    color: #820ad1;
    text-decoration: none;    
}

.container-img-1 .row .h1:hover {
    color: #820ad1;
    text-decoration: underline;    
}

.container-img-1 .link-underline {
    position: relative;
    width: 0%;
    text-decoration: none;
    color: #820ad1;
}
.container-img-1 .link-underline i {
    margin-left: 10px;
}

.container-img-1 .link-underline::after {
    content: '';
    position: relative;
    width: 0%;
    top: 20px;
    left: 0;
    height: 2px;
    background-color: #820ad1;
    
}

.container-img-1 .link-underline:hover::after {
    position: absolute;
    width: 100%;
    text-decoration: underline;
    color: #820ad1;
    transition: 0.2s;
}


.link-imagens-grandes .link-underline {
    position: relative;
    width: 0%;
    text-decoration: none;
    color: #fff;
}
.link-imagens-grandes .link-underline i {
    margin-left: 10px;
    color: #fff;
}

.link-imagens-grandes .link-underline::after {
    content: '';
    position: relative;
    width: 0%;
    top: 20px;
    left: 0;
    height: 2px;
    background-color: #fff;
    
}

.link-imagens-grandes .link-underline:hover::after {
    position: absolute;
    width: 100%;
    text-decoration: underline;
    color: #820ad1;
    transition: 0.2s;
}

.tamanho-imagens {
    width: 30%;
    height: 30%;
    margin-left: 10%;
}
 
.imagem-3 {
    width: 25%;
    height: 25%;
    margin-left: 10%;
}


/* Rodapé */

footer .row {
    background: #191919;
    padding: 25px;

}

footer .row ul li a {
    color: #fff;
}

footer .row ul li a:hover {
    color: #820ad1;
}


/* Navegação Final */
#nav-final .row {
    border-top: 1px solid #272626;;
    border-bottom: 1px solid #272626;;
    background-color: #191919;
}

#nav-final .nav-final {
    margin: 80px auto;
}

#logo_imagem_final {
    padding: 1px;
    margin-right: 20px;
}

.nav-final .icones i {
    color: #fff;
    padding: 15px;
    font-size: 20px;
    transition: 0.3s;
}
.nav-final .icones i:hover {
    color: #820ad1;
}

#final ul li p {
    color: #fff;
}

/* Links linguagens */
.icone-rodape {
    margin-left: 10px;
    color: #fff;
    
}

#linguagens .row {
    background: #191919;
    height: 160px;
}

#linguagens .row .linguagem {
    padding: 40px;
}

#linguagens .row .linguagem label {
    color: #fff;
}

#linguagens .row .linguagem label:hover {
    color: #820ad1;
}

#linguagens .row .radio2 {
    margin-left: 50px;
}

/* Formatando o input radio */
.form-check-input[type=radio] {
    background: none;
    border: 1px solid #fff;
}

.form-check-input[type=radio]:hover {
    border: 1px solid #820ad1;
    position: relative;
}

.form-check-input[type=radio]:hover::after {
    border: 1px solid #820ad1;
    border-radius: 50%;
    background-color: #820ad1;
    content: "";
    display: block;
    height: 7.5px;
    width: 7.5px;
    position: absolute;
    top: 3px;
    left: 3.3px;
    right: 0px;
    bottom: 0px;
}

.form-check-input:checked[type=radio] {
    background-color: inherit;
    border-radius: 50%;
    content: "";
    display: block;
    height: 16px;
    width: 16px;
}


.form-check-input[type=radio]:focus {
    box-shadow: none;
}


.form-check-input:checked[type=radio]:hover::before {
    background-color: #820ad1;
    border-radius: 50%;
    content: "";
    display: block;
    height: 7.5px;
    width: 7.5px;
    position: relative;
    top: 3px;
    left: 3.3px;
    right: 0px;
    bottom: 0px;
}







/*Media Queries */

/* Removendo o hover em celulares e tablets */
@media (max-width: 991px) {
    .link-login, form a:hover::before  {
        width:0%;
    }
}

/* Mudando o tamanho das fotos em tamanhos especificos (tables e celulares) e colocando um top no rodapé  */
@media (max-width: 991px) {
    .tamanho-imagens {
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    .imagem-3 {
        width: 50%;
        height: 50%;
        margin-top: 5%;
        margin-left: 20%;
    }

    .espaço-cima {
        margin-top: 20px;
    }
    
    .link-login{
        margin-left: 10px;
    }
     
}




